@font-face {
    font-family: 'Aileron';
	font-style: normal;
	font-weight: 900;
    src: url('aileron-black.eot');
    src: url('aileron-black.eot') format('embedded-opentype'),
         url('aileron-black.woff') format('woff'),
         url('aileron-black.ttf') format('truetype'),
         url('aileron-black.svg#AileronBlack') format('svg');
}


@font-face {
    font-family: 'Aileron';
	font-style: normal;
	font-weight: 700;
    src: url('aileron-bold.eot');
    src: url('aileron-bold.eot') format('embedded-opentype'),
         url('aileron-bold.woff') format('woff'),
         url('aileron-bold.ttf') format('truetype'),
         url('aileron-bold.svg#AileronBold') format('svg');
}


@font-face {
    font-family: 'Aileron';
	font-style: normal;
	font-weight: 600;
    src: url('aileron-semibold.eot');
    src: url('aileron-semibold.eot') format('embedded-opentype'),
         url('aileron-semibold.woff') format('woff'),
         url('aileron-semibold.ttf') format('truetype'),
         url('aileron-semibold.svg#AileronSemiBold') format('svg');
}


@font-face {
    font-family: 'Aileron';
	font-style: normal;
	font-weight: 400;
    src: url('aileron-regular.eot');
    src: url('aileron-regular.eot') format('embedded-opentype'),
         url('aileron-regular.woff') format('woff'),
         url('aileron-regular.ttf') format('truetype'),
         url('aileron-regular.svg#AileronRegular') format('svg');
}


@font-face {
    font-family: 'Aileron';
	font-style: normal;
	font-weight: 300;
    src: url('aileron-light.eot');
    src: url('aileron-light.eot') format('embedded-opentype'),
         url('aileron-light.woff') format('woff'),
         url('aileron-light.ttf') format('truetype'),
         url('aileron-light.svg#AileronLight') format('svg');
}


@font-face {
    font-family: 'Aileron';
	font-style: normal;
	font-weight: 200;
    src: url('aileron-thin.eot');
    src: url('aileron-thin.eot') format('embedded-opentype'),
         url('aileron-thin.woff') format('woff'),
         url('aileron-thin.ttf') format('truetype'),
         url('aileron-thin.svg#AileronThin') format('svg');
}