/*
* Talamone (HTML)
* Copyright 2014, Limitless LLC
* www.limitless.company
*/

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/* Table of Content
==================================================
	#Header
	#Home
	#About
	#Team
	#Gallery
	#Facts
	#Works
		#Project
	#Services
	#Blog
		#Article
	#Contact
	#Footer */

	header, section.home .title, section.home .subtitle, section.home .buttons,
	section.about .story, section.about .image, section.team .row, section.gallery .container, section.facts .fact,
	section.works .filter, section.works .row,
	section.services .filter,
	section.project .info, section.project .gallery, section.project .links,
	section.blog .post,
	section.article .info, section.article .content, section.article .links,
	section.contact .content, section.contact .map {
		opacity: 0;
	}

/* #Header
================================================== */

	header.header {
		background-color: transparent;
		height: 60px;
		position: fixed;
		text-align: center;
		top: 0px;
		width: 100%;
		z-index: 100;
	}

	header.header.scroll, header.header.nocover {
		background-color: #111111;
	}

	header.header .logo {
		background-color: transparent;
		background-image: url(../img/misc/header-logo.png);
		background-position: left center;
		background-repeat: no-repeat;
		background-size: contain;
		cursor: pointer;
		height: 30px;
		margin-top: 13px;
		opacity: 0.5;
		-webkit-transition: all .3s ease 0;
		-moz-transition: all .3s ease 0;
		-ms-transition: all .3s ease 0;
		-o-transition: all .3s ease 0;
		transition: all .3s ease 0;
	}

	header.header .logo:hover {
		opacity: 1;
	}

	header.header .menu {
		background-color: transparent;
		background-image: url(../img/misc/navigation-menu.png);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 22px 14px;
		border: none;
		cursor: pointer;
		display: none;
		float: right;
		height: 14px;
		margin-top: 23px;
		opacity: 0.5;
		text-indent: 9999px;
		width: 22px;
		-webkit-transition: all .3s ease 0;
		-moz-transition: all .3s ease 0;
		-ms-transition: all .3s ease 0;
		-o-transition: all .3s ease 0;
		transition: all .3s ease 0;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}

	header.header .menu:hover {
		opacity: 1;
	}

	header.header.active .menu {
		background-image: url(../img/misc/navigation-menu-close.png);
		background-size: 14px 14px;
	}

	header.header .navigation {
		display: block;
		margin-top: 15px;
		text-align: right;
	}

	header.header .navigation li {
		color: #ffffff;
		cursor: pointer;
		display: inline-block;
		font-family: "Montserrat";
		font-size: 13px;
		font-weight: 400;
		letter-spacing: 0.1em;
		margin-bottom: 0px;
		margin-right: 40px;
		opacity: 0.5;
		text-transform: uppercase;
		-webkit-transition: all .3s ease 0;
		-moz-transition: all .3s ease 0;
		-ms-transition: all .3s ease 0;
		-o-transition: all .3s ease 0;
		transition: all .3s ease 0;
	}

	header.header .navigation li:hover, header.header .navigation li.active {
		opacity: 1;
	}

	header.header .navigation li:last-child {
		margin-left: 0px;
		margin-right: 0px;
	}


/* #Home
================================================== */

	section.home {
		position: relative;
	}

	section.home .inner {
		bottom: 0px;
		left: 0px;
		position: absolute;
		right: 0px;
		top: 0px;
	}

	section.home .image {
		background-attachment: scroll;
		background-color: #000000;
		background-image: url(../img/backgrounds/home.jpg);
		background-position: center bottom;
		background-repeat: no-repeat;
		background-size: cover;
		opacity: 1;
	}

	section.home .video {
		overflow: hidden;
	}

	section.home .image, section.home .slider, section.home .slides, section.home .slide, section.home .video {
		bottom: 0px;
		left: 0px;
		position: absolute !important;
		right: 0px;
		top: 0px;
	}

	section.home .slides, section.home .slide {
		margin-bottom: 0px;
	}

	section.home .slide {
		background-attachment: scroll;
		background-color: #000000;
		background-position: center bottom;
		background-repeat: no-repeat;
		background-size: cover;
	}

	section.home video {
		background-color: #111111;
	}

	section.home .title {
		color: #ffffff;
		font-size: 75px;
		font-weight: 100;
		letter-spacing: 0.025em;
		line-height: 100px;
		margin-bottom: 20px;
	}

	section.home .subtitle {
		color: #ffffff;
		font-family: "Montserrat";
		font-size: 15px;
		font-weight: 400;
		letter-spacing: 0.1em;
		margin-bottom: 30px;
		text-transform: uppercase;
	}

	section.home .subtitle span {
		opacity: 0.5;
	}

	section.home .buttons {
		bottom: 0px;
		left: 0px;
		position: absolute;
		right: 0px;
		z-index: 1000;
	}

	section.home .discover {
		background-color: transparent;
		background-image: url(../img/misc/home-discover.png);
		background-position: center bottom;
		background-repeat: no-repeat;
		background-size: 17px 8px;
		bottom: 50px;
		color: #ffffff;
		cursor: pointer;
		left: 200px;
		letter-spacing: 0.1em;
		margin-top: 4px;
		opacity: 0.5;
		padding-bottom: 10px;
		position: absolute;
		right: 200px;
		text-align: center;
		text-transform: uppercase;
		-webkit-transition: all .3s ease 0;
		-moz-transition: all .3s ease 0;
		-ms-transition: all .3s ease 0;
		-o-transition: all .3s ease 0;
		transition: all .3s ease 0;
	}

	section.home .discover:hover, section.home .watch:hover {
		opacity: 1;
	}

	section.home .watch {
		background-color: transparent;
		background-image: url(../img/misc/home-watch.png);
		background-position: left center;
		background-repeat: no-repeat;
		background-size: 33px 33px;
		bottom: 50px;
		color: #ffffff;
		cursor: pointer;
		height: 33px;
		left: 10px;
		letter-spacing: 0.1em;
		opacity: 0.5;
		padding-left: 43px;
		padding-top: 5px;
		position: absolute;
		text-align: left;
		text-transform: uppercase;
		-webkit-transition: all .3s ease 0;
		-moz-transition: all .3s ease 0;
		-ms-transition: all .3s ease 0;
		-o-transition: all .3s ease 0;
		transition: all .3s ease 0;
	}


/* #About
================================================== */

	section.about {

	}

	section.about .offset {
		padding-bottom: 0px;
	}

	section.about .cover {
		background-image: url(../img/covers/about.jpg);
	}

	section.about .story {
		background-color: #111111;
		height: 525px;
		margin-left: 0px !important;
		padding: 75px 50px;
		text-align: left;
		width: 470px !important;
	}

	section.about .story .title {
		color: #ffffff;
		margin-bottom: 30px;
	}

	section.about .story .text {
		color: #666666;
	}

	section.about .image {
		height: 525px;
		margin-right: 0px !important;
		width: 470px !important;
	}

	section.about .image img {
		height: 100%;
		width: 100%;
	}


/* #Team
================================================== */

	section.team {

	}

	section.team .row {
		margin-bottom: 60px;
	}

	section.team .row:last-child {
		margin-bottom: 0px;
	}

	section.team .member {
		cursor: pointer;
		margin-bottom: 10px;
		padding: 0px 10px;
	}

	section.team .member .image {
		background-color: #111111;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 120px 120px;
		height: 120px;
		margin: 0px auto 20px;
		width: 120px;
	}

	section.team .member.join .image {
		background-color: #d4d4d4 !important;
	}

	section.team .member .image img {
		display: none;
	}

	section.team .member .title {
		color: #000000;
		font-family: "Montserrat";
		font-size: 15px;
		font-weight: 400;
		letter-spacing: 0.1em;
		margin-bottom: 0px;
		text-transform: uppercase;
	}

	section.team .member .subtitle {
		color: #999999;
		font-size: 14px;
		letter-spacing: 0.025em;
	}


/* #Gallery
================================================== */

	section.gallery {

	}

	section.gallery .offset {

	}

	section.gallery .container {
		padding: 0px 10px;
	}

	section.gallery .image {
		line-height: 0px;
		margin: 0px !important;
	}

	section.gallery .image.half {
		width: 470px;
	}

	section.gallery .image img {
		cursor: pointer;
		width: 100%;
		-webkit-filter: grayscale(100%);
		-moz-filter: grayscale(100%);
		-ms-filter: grayscale(100%);
		-o-filter: grayscale(100%);
		filter: grayscale(100%);
		-webkit-transition: all .3s ease 0;
		-moz-transition: all .3s ease 0;
		-ms-transition: all .3s ease 0;
		-o-transition: all .3s ease 0;
		transition: all .3s ease 0;
	}

	section.gallery .image img:hover {
		-webkit-filter: grayscale(0%);
		-moz-filter: grayscale(0%);
		-ms-filter: grayscale(0%);
		-o-filter: grayscale(0%);
		filter: grayscale(0%);
	}


/* #Facts
================================================== */

	section.facts {

	}

	section.facts .fact {
		text-align: left;
	}

	section.facts .fact .title {
		color: #000000;
		font-family: "Montserrat";
		font-size: 36px;
		font-weight: 400;
		letter-spacing: 0.1em;
		margin-bottom: 18px;
	}

	section.facts .fact .text {
		font-size: 14px;
		line-height: 24px;
		margin-bottom: 0px;
	}


/* #Work
================================================== */

	section.works {

	}

	section.works .offset {
		padding-top: 50px !important;
	}

	section.works .cover {
		background-image: url(../img/covers/work.jpg);
	}

	section.works .filter {
		margin-bottom: 15px;
		margin-top: 0px;
		text-align: left;
	}

	section.works .filter li {
		color: #999999;
		cursor: pointer;
		display: inline-block;
		font-family: "Montserrat";
		font-size: 13px;
		font-weight: 400;
		margin-right: 60px;
		text-transform: uppercase;
		-webkit-transition: all .3s ease 0;
		-moz-transition: all .3s ease 0;
		-ms-transition: all .3s ease 0;
		-o-transition: all .3s ease 0;
		transition: all .3s ease 0;
	}

	section.works .filter li:last-child {
		margin-right: 0px;
	}

	section.works .filter li:hover, .works .filter li.active {
		color: #000000;
	}

	section.works .grid {

	}

	section.works .row {
		margin-bottom: 70px;
	}

	section.works .project {
		background-color: transparent;
		line-height: 0px;
		position: relative;
	}

	section.works .project .thumbnail, .works .project img {
		cursor: pointer;
		height: 300px;
		margin: 0px auto;
		width: 300px;
	}

	section.works .project .thumbnail {
		opacity: 1;
		-webkit-transition: all .6s ease;
		-moz-transition: all .6s ease;
		-ms-transition: all .6s ease;
		-o-transition: all .6s ease;
		transition: all .6s ease;
	}

	section.works .project .thumbnail.active {
		opacity: 0.1;
	}

	section.works .project .info {
		background: transparent;
		left: 0px;
		opacity: 0;
		position: absolute;
		right: 0px;
		z-index: 100;
		-webkit-transition: all .6s ease;
		-moz-transition: all .6s ease;
		-ms-transition: all .6s ease;
		-o-transition: all .6s ease;
		transition: all .6s ease;
	}

	section.works .project .info.active {
		opacity: 1;
	}

	section.works .project .info .title {
		color: #000000;
		cursor: pointer;
		font-family: "Montserrat";
		font-size: 18px;
		letter-spacing: 0.1em;
		line-height: 24px;
		text-transform: uppercase;
	}

	section.works .project .info .subtitle {
		color: #000000;
		font-size: 14px;
		line-height: 18px;
		margin-top: 10px;
		opacity: 0.5;
		text-transform: capitalize;
	}


/* #Project
================================================== */

	section.project {

	}

	section.project .offset {
		padding-bottom: 0px;
		padding-top: 130px !important;
	}

	section.project .content {

	}

	section.project .info {

	}

	section.project .info .title {
		color: #000000;
		font-family: "Montserrat";
		font-size: 22px;
		font-weight: 400;
		letter-spacing: 0.1em;
		text-transform: uppercase;
	}

	section.project .info .subtitle {
		font-size: 15px;
		margin-bottom: 40px;
		margin-top: 8px;
		text-transform: uppercase;
	}

	section.project .info p {
		padding: 0px 100px;
	}

	section.project .info .more {
		margin-top: 20px;
	}

	section.project .gallery {
		margin: 47px 0px 0px;
	}

	section.project .gallery .container {
		padding: 0px 10px;
	}

	section.project .image {
		line-height: 0px;
		margin: 0px !important;
	}

	section.project .image.half {
		width: 470px;
	}

	section.project .image img {
		cursor: pointer;
		width: 100%;
	}

	section.project .links {
		margin-bottom: 20px;
		padding-top: 20px;
		text-align: left;
	}

	section.project .back {
		margin-left: 0px;
	}

	section.project .social {
		float: right;
		margin-right: 0px;
		text-align: right;
	}

	section.project .links .all, section.project .social .facebook, section.project .social .twitter {
		background-position: left center;
		background-repeat: no-repeat;
		color: #000000;
		cursor: pointer;
		display: inline-block;
		font-family: "Montserrat";
		font-size: 13px;
		font-weight: 400;
		letter-spacing: 0.1em;
		opacity: 0.5;
		text-decoration: none;
		text-transform: uppercase;
		-webkit-transition: all .3s ease 0;
		-moz-transition: all .3s ease 0;
		-ms-transition: all .3s ease 0;
		-o-transition: all .3s ease 0;
		transition: all .3s ease 0;
	}

	section.project .links .all:hover, section.project .social .facebook:hover, section.project .social .twitter:hover {
		opacity: 1;
	}

	section.project .links .all {
		background-image: url(../img/misc/project-close.png);
		background-size: 11px 11px;
		margin-left: 0px;
		padding-left: 20px;
	}

	section.project .social .facebook {
		background-image: url(../img/misc/project-facebook.png);
		background-size: 16px 16px;
		margin-right: 50px;
		padding-left: 24px;
	}

	section.project .social .twitter {
		background-image: url(../img/misc/project-twitter.png);
		background-size: 16px 16px;
		padding-left: 24px;
	}


/* #Services
================================================== */

	section.services {

	}

	section.services .offset {
		padding-top: 50px !important;
	}

	section.services .cover {
		background-image: url(../img/covers/services.jpg);
	}

	section.services .filter {
		margin-bottom: 40px;
		margin-top: 0px;
		text-align: center;
	}

	section.services .filter li {
		background-position: left center;
		background-repeat: no-repeat;
		background-size: 32px 32px;
		color: #999999;
		cursor: pointer;
		display: inline-block;
		font-family: "Montserrat";
		font-size: 13px;
		font-weight: 400;
		margin: 0px 90px;
		text-align: center;
		text-transform: uppercase;
		-webkit-transition: all .3s ease 0;
		-moz-transition: all .3s ease 0;
		-ms-transition: all .3s ease 0;
		-o-transition: all .3s ease 0;
		transition: all .3s ease 0;
	}

	section.services .filter li:first-child {
		margin-left: 0px;
	}

	section.services .filter li:last-child {
		margin-right: 0px;
	}

	section.services .filter li:hover, .services .filter li.active {
		color: #000000;
	}

	section.services .filter .icon {
		display: block;
		font-size: 2.5em;
		margin-bottom: 5px;
	}

	section.services .grid {
		min-height: 800px;
	}

	section.services .row {
		margin-bottom: 70px;
	}

	section.services .service {
		display: none;
		line-height: 0px;
		margin-top: 15px;
		position: relative;
	}

	section.services .service.active {
		display: block;
	}

	section.services .service .image {
		cursor: pointer;
		height: 470px !important;
		margin-right: 0px !important;
		width: 470px !important;
	}

	section.services .service img {
		height: 100%;
		width: 100%;
	}

	section.services .service .info {
		background-color: #ffffff;
		height: 470px !important;
		margin-left: 0px !important;
		padding-left: 40px;
		padding-right: 40px;
		position: relative;
		text-align: left;
		width: 470px !important;
	}

	section.services .service .info .content {
		position: relative;
	}

	section.services .service .info .title {
		color: #000000;
		cursor: pointer;
		font-family: "Montserrat";
		font-size: 22px;
		font-weight: 400;
		letter-spacing: 0.1em;
		line-height: 24px;
		text-transform: uppercase;
	}

	section.services .service .info .text {
		margin-top: 40px;
	}


/* #Blog
================================================== */

	section.blog {

	}

	section.blog .offset {
		padding-top: 50px !important;
	}

	section.blog .cover {
		background-image: url(../img/covers/blog.jpg);
	}

	section.blog .col-1 .post {
		padding-right: 15px;
	}

	section.blog .col-2 .post {
		padding-left: 15px;
	}

	section.blog .post {
		margin-bottom: 50px;
	}

	section.blog .post:last-child {
		margin-bottom: 0px;
	}

	section.blog .post .thumbnail, .blog .post .thumbnail img {
		cursor: pointer;
		height: 250px;
		width: 445px;
	}

	section.blog .post .info {
		background-color: #ffffff;
		cursor: pointer;
		padding: 30px 50px;
		text-align: left;
	}

	section.blog .post .info .title {
		color: #000000;
		font-family: "Montserrat";
		font-size: 20px;
		font-weight: 400;
		letter-spacing: 0.1em;
		line-height: 36px;
		text-transform: uppercase;
	}

	section.blog .post .info .date {
		color: #888888;
		letter-spacing: 0.025em;
		margin-bottom: 13px;
	}


/* #Article
================================================== */

	section.article {

	}

	section.article .offset {
		padding-bottom: 0px;
		padding-top: 130px !important;
	}

	section.article .info {

	}

	section.article .info .title {
		color: #000000;
		font-family: "Montserrat";
		font-size: 22px;
		font-weight: 400;
		letter-spacing: 0.1em;
		text-transform: uppercase;
	}

	section.article .info .date {
		font-size: 15px;
		margin-bottom: 40px;
		margin-top: 8px;
		text-transform: uppercase;
	}

	section.article .info .thumbnail {
		margin-bottom: 60px;
		margin-top: 30px;
	}

	section.article .info .thumbnail img {
		max-width: 100%;
	}

	section.article .content {
		margin-bottom: 70px;
	}

	section.article .content p {
		padding: 0px 100px;
		text-align: left;
	}

	section.article .content p:last-child {
		margin-bottom: 0px;
	}

	section.article .links {
		border-top: 2px solid #dddddd;
		margin-bottom: 20px;
		padding-top: 15px;
		text-align: left;
		width: 940px;
	}

	section.article .back {
		margin-left: 0px;
	}

	section.article .social {
		float: right;
		margin-right: 0px;
		text-align: right;
	}

	section.article .links .all, section.article .social .facebook, section.article .social .twitter {
		background-position: left center;
		background-repeat: no-repeat;
		color: #000000;
		cursor: pointer;
		display: inline-block;
		font-family: "Montserrat";
		font-size: 13px;
		font-weight: 400;
		letter-spacing: 0.1em;
		opacity: 0.5;
		text-decoration: none;
		text-transform: uppercase;
		-webkit-transition: all .3s ease 0;
		-moz-transition: all .3s ease 0;
		-ms-transition: all .3s ease 0;
		-o-transition: all .3s ease 0;
		transition: all .3s ease 0;
	}

	section.article .links .all:hover, section.article .social .facebook:hover, section.article .social .twitter:hover {
		opacity: 1;
	}

	section.article .links .all {
		background-image: url(../img/misc/article-close.png);
		background-size: 11px 11px;
		margin-left: 0px;
		padding-left: 20px;
	}

	section.article .social .facebook {
		background-image: url(../img/misc/article-facebook.png);
		background-size: 16px 16px;
		margin-right: 50px;
		padding-left: 24px;
	}

	section.article .social .twitter {
		background-image: url(../img/misc/article-twitter.png);
		background-size: 16px 16px;
		padding-left: 24px;
	}


/* #Contact
================================================== */

	section.contact {

	}

	section.contact .cover {
		background-image: url(../img/covers/contact.jpg);
	}

	section.contact .offset {
		padding-top: 50px;
	}

	section.contact .map {
		height: 560px;
	}

	section.contact .content {
		padding-left: 50px;
		position: relative;
		text-align: left;
	}

	section.contact .info {
		margin-bottom: 50px;
	}

	section.contact .info .title {
		margin-bottom: 20px;
	}

	section.contact .info a {
		color: #666666;
		display: block;
		font-family: "Montserrat";
		font-size: 13px;
		font-weight: 400;
		letter-spacing: 0.1em;
		line-height: 24px;
		margin-bottom: 0px;
		text-decoration: none;
		text-transform: uppercase;
		-webkit-transition: all .3s ease 0;
		-moz-transition: all .3s ease 0;
		-ms-transition: all .3s ease 0;
		-o-transition: all .3s ease 0;
		transition: all .3s ease 0;
	}

	section.contact .info a:hover, .contact .info a:focus {
		color: #000000;
	}

	section.contact .info .link:hover {
		opacity: 1;
	}

	section.contact .form .title {
		margin-bottom: 10px;
	}

	section.contact .form .submit {
		background-image: url(../img/misc/more.png);
		background-position: right center;
		background-repeat: no-repeat;
		background-size: 10px 10px;
		float: right;
	}

	section.contact .form .message {
		display: none;
		font-family: "Montserrat";
		font-size: 13px;
		font-weight: 400;
		letter-spacing: 0.1em;
		text-transform: uppercase;
	}

	section.contact .form .message.active {
		display: block;
	}

	section.contact .form .message.success {
		color: #007e27;
	}

	section.contact .form .message.error {
		color: #880e0e;
	}


/* #Footer
================================================== */

	footer.footer {
		background-color: #111111;
		margin-top: 75px;
		text-align: center;
	}

	footer.footer .offset {
		padding: 40px 0px !important;
	}

	footer.footer .contactus {
		background-attachment: scroll;
		background-color: #222222;
		background-image: url(../img/covers/footer.jpg);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 300px;
		position: relative;
	}

	footer.footer .contactus .content {
		display: inline-block;
		float: none;
	}

	footer.footer .contactus .title {
		color: #000000;
		font-family: "Montserrat";
		font-size: 22px;
		font-weight: 400;
		letter-spacing: 0.1em;
		margin-bottom: 20px;
		text-transform: uppercase;
	}

	footer.footer .contactus .text {
		color: #000000;
		opacity: 0.5;
	}

	footer.footer .contactus .link {
		border-bottom: 2px solid #000000;
		color: #000000;
		cursor: pointer;
		display: inline-block;
		font-family: "Montserrat";
		font-size: 13px;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		-webkit-transition: all .3s ease 0;
		-moz-transition: all .3s ease 0;
		-ms-transition: all .3s ease 0;
		-o-transition: all .3s ease 0;
		transition: all .3s ease 0;
	}

	footer.footer .contactus .link:hover {
		opacity: 0.5;
	}

	footer.footer .copyright {
		color: #444444;
		font-size: 15px;
		text-align: left;
	}

	footer.footer .social {
		text-align: right;
	}

	footer.footer .social ul {
		margin-bottom: 0px;
	}

	footer.footer .social li {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 16px 16px;
		border: none;
		cursor: pointer;
		display: inline-block;
		height: 16px;
		margin: 0px 10px;
		opacity: 0.4;
		width: 16px;
		-webkit-transition: all .3s ease 0;
		-moz-transition: all .3s ease 0;
		-ms-transition: all .3s ease 0;
		-o-transition: all .3s ease 0;
		transition: all .3s ease 0;
	}

	footer.footer .social li:last-child {
		margin-right: 0px;
	}

	footer.footer .social li:hover, footer .social li:active {
		opacity: 1;
	}

	footer.footer .social .facebook {
		background-image: url(../img/social/facebook.png);
	}

	footer.footer .social .twitter {
		background-image: url(../img/social/twitter.png);
	}

	footer.footer .social .instagram {
		background-image: url(../img/social/instagram.png);
	}

	footer.footer .social .behance {
		background-image: url(../img/social/behance.png);
	}

	footer.footer .social .googleplus {
		background-image: url(../img/social/google.png);
	}

	footer.footer .social .youtube {
		background-image: url(../img/social/youtube.png);
	}

	footer.footer .social .youtube {
		background-image: url(../img/social/youtube.png);
	}

	footer.footer .social .linkedin {
		background-image: url(../img/social/linkedin.png);
	}

	footer.footer .social .vimeo {
		background-image: url(../img/social/vimeo.png);
	}

	footer.footer .social .github {
		background-image: url(../img/social/github.png);
	}

	footer.footer .social .flickr {
		background-image: url(../img/social/flickr.png);
	}

	footer.footer .social .pinterest {
		background-image: url(../img/social/pinterest.png);
	}


/* #FlexSlider
================================================== */


	.flex-direction-nav a {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 10px 22px;
		color: transparent;
		opacity: 0.5 !important;
		text-shadow: none !important;
	}

	.flex-direction-nav .flex-prev {
		background-image: url(../img/misc/navigate-left.png);
		left: 5% !important;
	}

	.flex-direction-nav .flex-next {
		background-image: url(../img/misc/navigate-right.png);
		right: 5% !important;
	}
